@import "tailwindcss";

@theme {
  --color-rose-50: #fff1f2;
  --color-rose-600: #e11d48;
  --color-stone-50: #fafaf9;
  --color-stone-200: #e7e5e4;
  --color-stone-600: #57534e;
  --color-stone-900: #1c1917;

  --font-sans: "Inter", "system-ui", "sans-serif";
}

html {
  font-size: 18px;
}